#navbar .logo{
    float: none;
    text-align: center;
}
#navbar ul{
    float: none;
}
#navbar ul li{
    float: none;
    text-align: center;
}
#navbar ul li a{
    padding: 5px;
    border-bottom: 1px dotted #444;
    
}
#showcase{
    height: 100%;


}
#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
  }
  
#home-info .info-img {
  display: none;
  }
#home-info .info-content {
     float: none;
     width: 100%;
   
}

.box{
    float: none;
    width: 100%;
}
#about-info .info-right,#about-info .info-left{
    float: none;
    width: 100%;
}
.l-heading{
    text-align: center;
}
#about-info .info-right{
    margin-top: 30px;
}
#contact-info .box{
    border: #444444 dotted 1px;
}